    
            @page{            
                  margin:0.25in;
                  size: landscape;
            }
            
             .empty-column-content {
                  display: none;
            }  
                        
             .tableDecor {
                  border: 1px solid black;
                  padding: 5px;
                  font-size: 55%;
            }
            
             .tableHeader {
                  border: 1px solid black;
                  padding: 5px;
                color: black;
                  background-color: #0391E4;
                  font-size: 75%;
            }
            
            .configTable{
                  width: auto !important;
            }
            
            .m-bottom-10 {
                  margin-bottom: 10px;
            }
            
            .m-bottom-20 {
                  margin-bottom: 20px;
            }
            
            .m-bottom-30 {
                  margin-bottom: 30px;
            }
            
            .m-bottom-40 {
                  margin-bottom: 40px;
            }
            
            .m-bottom-10 {
                  margin-top: 10px;
            }
            
            .m-bottom-20 {
                  margin-top: 20px;
            }
            
            .m-bottom-30 {
                  margin-top: 30px;
            }
            
            .m-bottom-40 {
                  margin-top: 40px;
            }
            
            .titleHeader {
            }

            